{% extends 'base.html.twig' %}

{% block title 'Real Estate Agency' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Real Estate Agency</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo omnis, pariatur sapiente sequi suscipit
            tempore velit. Aliquid culpa cumque cupiditate eaque facere fugiat incidunt magnam, maiores sapiente
            similique sit voluptatem!</p>
    </div>
    <div class="container">
        <h2>Nos derniers biens</h2>
        <div class="row flex">
            {% for p in properties %}
                <div class="col-md-3">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}