{% extends 'base.html.twig' %}

{% block title 'Acheter un bien' %}

{% block body %}
    <div class="container">
        <h1>Acheter un bien</h1>
        <div class="row">
            {% for p in properties %}
                <div class="col-md-4">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}