{% extends 'base.html.twig' %}

{% block title 'Acheter un bien' %}

{% block body %}
    <div class="container">
        <h1>Acheter un bien</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo omnis, pariatur sapiente sequi suscipit
            tempore velit. Aliquid culpa cumque cupiditate eaque facere fugiat incidunt magnam, maiores sapiente
            similique sit voluptatem!</p>
    </div>
{% endblock %}